@import "mod.css";
.navbar {
  position: relative;
  height: 80px;
  border: none;
  margin-bottom: 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.navbar .mod-logo {
  width: 240px;
  height: 80px;
  float: left;
  text-align: center;
}
.navbar .mod-logo img {
  margin-top: 19px;
}
.nav {
  overflow: hidden;
}
.nav li {
  float: left;
}
.nav li.active a {
  color: #000;
  border-bottom: 3px solid #5e65fe;
  padding-bottom: 27px;
}
.nav li a {
  display: block;
  line-height: 20px;
  padding: 30px;
  color: #666;
  outline: none;
}
.nav li a:hover,
.nav li a:focus {
  color: #000;
  background-color: transparent;
}
.page-sidebar .page-sidebar-menu > li:first-child {
  margin-top: 20px;
}
.page-sidebar .page-sidebar-menu > li > a {
  padding: 20px;
  text-align: center;
  color: #999;
  font-weight: normal;
  outline: none;
}
.page-sidebar .page-sidebar-menu > li.active > a {
  color: #5e65fe;
  background: #FFF;
}
.g-mt30 {
  margin-top: 30px;
}
.g-mt20 {
  margin-top: 20px;
}
.editable-controls .mod-btn {
  display: inline-block;
}
.editable-input {
  width: 30px !important;
  height: 36px;
  padding: 0;
  text-align: center;
}
.img-thumbnail {
  width: 120px;
}
.img-article {
  width: 100px;
  max-height: 150px;
}
