.mod-btn {
  color: #5e65fe;
  border: none;
  display: block;
  background-color: transparent;
}
.mod-btn:hover {
  text-decoration: underline;
}
.mod-search-bar .u-wrapper {
  display: inline-block;
  width: 200px;
  height: 36px;
  background: #f0f0f0;
  border-radius: 18px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
.mod-search-bar .u-icon {
  display: inline-block;
  width: 36px;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
.mod-search-bar .u-icon i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
  margin-top: 5px;
}
.mod-search-bar .u-search {
  display: inline-block;
  width: 150px;
  border: none;
  background-color: #f0f0f0;
  height: 100%;
  font-size: 14px;
  outline: none;
}
.mod-search-bar .u-label {
  display: inline-block;
  margin-left: 20px;
  color: #a0a0a0;
  font-weight: normal;
}
.mod-trial-header h3 {
  display: inline-block;
  color: #000;
}
.mod-trial-header h4 {
  font-size: 14px;
  margin-top: 15px;
}
.mod-trial-header .mod-btn {
  display: inline-block;
  margin-left: 14px;
}
.mod-trial-switch {
  display: inline-block;
  margin-left: 20px;
  color: #999;
}
.mod-trial-switch .desc {
  margin-right: 10px;
}
.mod-order-table tbody tr:nth-child(4n+1) td,
.mod-order-table tbody tr:nth-child(4n+2) td {
  background-color: #FFF;
}
.mod-order-table tbody tr:nth-child(4n+3) td,
.mod-order-table tbody tr:nth-child(4n+4) td {
  background-color: #fafafa;
}
.mod-order-table .mod-btn {
  padding: 0;
}
.mod-order-table .mod-btn:first-child {
  margin-bottom: 20px;
}
.mod-order-detail {
  overflow: hidden;
}
.mod-order-detail .u-img {
  float: left;
  width: 120px;
  max-height: 80px;
}
.mod-order-detail .u-detail {
  float: left;
  margin-left: 16px;
}
.mod-order-detail .u-detail span {
  display: inline-block;
  width: 6em;
}
