.mod-btn {
  color: #5e65fe;
  border: none;
  display: block;
  background-color: transparent;
  outline: none;
  min-width: 4em;
}
.mod-btn:hover {
  text-decoration: underline;
}
.mod-btn .mod-confirm {
  display: inline-block;
  width: 18px;
  height: 14px;
  background-image: url(../images/btn-confirm.png);
  text-align: center;
}
.mod-btn .mod-cancel {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url(../images/btn-cancel.png);
  text-align: center;
}
.mod-logo {
  width: 240px;
  height: 80px;
  float: left;
  text-align: center;
}
.mod-logo img {
  margin-top: 19px;
}
.mod-logout {
  position: absolute;
  width: 84px;
  height: 36px;
  border-radius: 18px;
  border: 1px solid #e7e7e7;
  right: 20px;
  top: 20px;
  text-align: center;
  cursor: pointer;
}
.mod-logout a {
  display: block;
  font-size: 14px;
  color: #333;
  line-height: 36px;
}
.mod-search-bar .u-wrapper {
  display: inline-block;
  width: 200px;
  height: 36px;
  background: #f0f0f0;
  border-radius: 18px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
}
.mod-search-bar .u-icon {
  display: inline-block;
  width: 36px;
  height: 100%;
  vertical-align: top;
  text-align: center;
}
.mod-search-bar .u-icon i {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/search-icon.png);
  background-repeat: no-repeat;
  margin-top: 5px;
}
.mod-search-bar .u-search {
  display: inline-block;
  width: 150px;
  border: none;
  background-color: #f0f0f0;
  height: 100%;
  font-size: 14px;
  outline: none;
}
.mod-search-bar .u-label {
  display: inline-block;
  margin-left: 20px;
  color: #a0a0a0;
  font-weight: normal;
}
.mod-trial-header h3 {
  display: inline-block;
  color: #000;
}
.mod-trial-header h4 {
  font-size: 14px;
  margin-top: 15px;
}
.mod-trial-header .mod-btn {
  display: inline-block;
  margin-left: 14px;
}
.mod-trial-switch {
  display: inline-block;
  margin-left: 20px;
  color: #999;
}
.mod-trial-switch .desc {
  margin-right: 10px;
}
.mod-order-table tbody tr:nth-child(4n+1) td,
.mod-order-table tbody tr:nth-child(4n+2) td {
  background-color: #FFF;
}
.mod-order-table tbody tr:nth-child(4n+3) td,
.mod-order-table tbody tr:nth-child(4n+4) td {
  background-color: #fafafa;
}
.mod-order-table .mod-btn {
  padding: 0;
}
.mod-order-table .mod-btn:first-child {
  margin-bottom: 20px;
}
.mod-order-detail {
  overflow: hidden;
}
.mod-order-detail .u-img {
  float: left;
  width: 120px;
  max-height: 80px;
}
.mod-order-detail .u-detail {
  float: left;
  margin-left: 16px;
}
.mod-order-detail .u-detail span {
  display: inline-block;
  width: 6em;
}
.mod-newtrial-wrapper .modal-dialog {
  width: 540px;
}
.mod-newtrial {
  position: relative;
  padding: 0 10px 25px 10px;
}
.mod-newtrial h4 {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
  border-bottom: 1px solid #eee;
}
.mod-newtrial .close-btn {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 12px;
  width: 16px;
  height: 16px;
  background-image: url(../images/btn-close.png);
}
.mod-newtrial .close-btn a {
  display: block;
  height: 100%;
}
.mod-newtrial .u-goods-info {
  padding-top: 20px;
  overflow: hidden;
  padding-left: 15px;
}
.mod-newtrial .u-goods-info > img {
  float: left;
  width: 120px;
  max-height: 80px;
  margin-right: 20px;
}
.mod-newtrial .detail {
  float: left;
}
.mod-newtrial .detail .title {
  color: #000;
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 20px;
}
.mod-newtrial .detail p {
  color: #999;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}
.mod-newtrial .u-form-group {
  margin-top: 20px;
  padding-left: 10px;
}
.mod-newtrial .u-form-group .u-group {
  margin-bottom: 14px;
  overflow: hidden;
}
.mod-newtrial .u-form-group .u-label {
  font-size: 14px;
  color: #000;
  text-align: right;
  width: 9em;
  float: left;
  line-height: 36px;
}
.mod-newtrial .u-form-group .u-input {
  float: left;
  margin-left: 15px;
  width: 300px;
  height: 36px;
  background-color: #e6e6e6;
  border-radius: 5px;
  border: none;
  outline: none;
  text-indent: 12px;
}
.mod-newtrial .u-form-group .tips {
  float: left;
  line-height: 36px;
  margin-left: 10px;
  color: #ccc;
  font-size: 12px;
}
.mod-newtrial .btn-submit {
  display: block;
  width: 160px;
  height: 36px;
  text-align: center;
  margin: 28px auto 0;
  line-height: 36px;
  color: #FFF;
  border-radius: 18px;
  background-color: #5e65fe;
}
.mod-newtrial .btn-submit.disable {
  background-color: #b3b3b3;
}
.mod-newtrial .u-alert {
  text-align: center;
  font-size: 12px;
  margin-top: 10px;
  color: #ff9900;
}
.mod-account-table .img-thumb {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
