
  <div class="page-content" style="padding: 20px;">

    <h1>试用全部订单</h1>

    <div class="search-bar">
      <form action="">
        <label for="">搜索关键字</label>
        <input type="text">
        <button class="btn btn-primary">search</button>
      </form>
    </div>

    <table class="table table-striped table-bordered table-hover dataTable">
      <thead>
      <tr>
        <td>商品</td>
        <td>商品id</td>
        <td>试用id</td>
        <td>数量</td>
        <td>用户名</td>
        <td>申请时间</td>
        <td>更新时间</td>
        <td>状态</td>
        <td>操作</td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="9">
          <p>订单号：1316541654165165165165</p>
          <p>物流公司：顺丰啦啦啦</p>
          <p>物流订单号：23214234234324324</p>
          <p>收货地址：林哈哈 开绿灯解放的风景阿里贷款解放螺丝钉解放螺丝钉解放</p>
        </td>
      </tr>
      <tr>
        <td>
          <img src="" alt="">
          <p>这是商品名字</p>
        </td>
        <td>
          16516515
        </td>
        <td>
          d6465465
        </td>
        <td>
          45
        </td>
        <td>这是用户名</td>
        <td>2015-11-11</td>
        <td>2016-5-5</td>
        <td>
          分为试用申请审核中
        </td>
        <td>
          <button class="btn btn-primary">查看详情</button>
          <button class="btn btn-primary" ng-click="checkSuccess()">审核成功</button>
          <button class="btn btn-primary" ng-click="checkFail()">审核失败</button>
        </td>
      </tr>
      <tr>
        <td>
          <img src="" alt="">
          <p>这是商品名字</p>
        </td>
        <td>
          16516515
        </td>
        <td>
          d6465465
        </td>
        <td>
          45
        </td>
        <td>这是用户名</td>
        <td>2015-11-11</td>
        <td>2016-5-5</td>
        <td>
          试用申请审核失败
        </td>
        <td>
          <button class="btn btn-primary">查看详情</button>
        </td>
      </tr>
      <tr>
        <td>
          <img src="" alt="">
          <p>这是商品名字</p>
        </td>
        <td>
          16516515
        </td>
        <td>
          d6465465
        </td>
        <td>
          45
        </td>
        <td>这是用户名</td>
        <td>2015-11-11</td>
        <td>2016-5-5</td>
        <td>
          试用申请审核成功-待发货
        </td>
        <td>
          <button class="btn btn-primary">查看详情</button>
          <button class="btn btn-primary" ng-click="sentGoods()">发货</button>
        </td>
      </tr>
      <tr>
        <td>
          <img src="" alt="">
          <p>这是商品名字</p>
        </td>
        <td>
          16516515
        </td>
        <td>
          d6465465
        </td>
        <td>
          45
        </td>
        <td>这是用户名</td>
        <td>2015-11-11</td>
        <td>2016-5-5</td>
        <td>
          试用申请审核成功-已发货
        </td>
        <td>
          <button class="btn btn-primary">查看详情</button>
        </td>
      </tr>
      <tr>
        <td>
          <img src="" alt="">
          <p>这是商品名字</p>
        </td>
        <td>
          16516515
        </td>
        <td>
          d6465465
        </td>
        <td>
          45
        </td>
        <td>这是用户名</td>
        <td>2015-11-11</td>
        <td>2016-5-5</td>
        <td>
          试用文章审核中
        </td>
        <td>
          <button class="btn btn-primary">查看详情</button>
          <button class="btn btn-primary" ng-click="sentArticleSuccess()">文章已发布</button>
          <button class="btn btn-primary" ng-click="sentArticleFail()">文章审核失败</button>
        </td>
      </tr>
      </tbody>
    </table>


  </div>



