<link rel="stylesheet"
      href="styles/metronic/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css">

<div class="mod-search-bar">
  <form action="">
    <div class="u-wrapper">
      <span class="u-icon">
      <i></i>
      </span>
      <input type="text" id="search" class="u-search" placeholder="Search...">
    </div>
    <label for="search" class="u-label">搜索支持文章ID，名称</label>
  </form>
</div>

<table class="table g-mt30" ng-init="getAllReview()">
  <thead>
  <tr>
    <td>文章ID</td>
    <td>文章名称</td>
    <td>文章大图</td>
    <td>文章作者</td>
    <td>发布时间</td>
    <td>点赞数</td>
    <td>分享数</td>
    <td>排序因子</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1022512</td>
    <td>这是文章名称</td>
    <td><img src="" alt=""></td>
    <td>这是作者</td>
    <td>2015-05-22</td>
    <td>20</td>
    <td>100</td>
    <td><a href="" editable-text="hc" class="editable editable-click">{{hc}}</a></td>
    <td>
      <button class="mod-btn" ng-click="previewArticle(11)">预览</button>
      <button class="mod-btn" ng-click="deleteArticle(11)">删除</button>
      <button class="mod-btn" ng-click="editArticle(11)">编辑</button>
    </td>
  </tr>
  <tr ng-repeat="t in review_list">
    <td>1022512</td>
    <td ng-bind="t.title">这是文章名称</td>
    <td><img ng-src="t.banner"></td>
    <td>这是作者</td>
    <td>2015-05-22</td>
    <td>20</td>
    <td>100</td>
    <td><a href="" editable-text="hc" class="editable editable-click">{{hc}}</a></td>
    <td>
      <button class="mod-btn" ng-click="previewArticle(11)">预览</button>
      <button class="mod-btn" ng-click="deleteArticle(11)">删除</button>
      <button class="mod-btn" ng-click="editArticle(11)">编辑</button>
    </td>
  </tr>
  </tbody>
</table>
