<link rel="stylesheet"
      href="styles/metronic/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css">

<div class="mod-search-bar">
  <form action="">
    <div class="u-wrapper">
      <span class="u-icon">
      <i></i>
      </span>
      <input type="text" id="search" class="u-search" placeholder="Search...">
    </div>
    <label for="search" class="u-label">搜索支持文章ID，名称</label>
  </form>
</div>

<table class="table g-mt30" ng-init="getAllReview()">
  <thead>
  <tr>
    <td>文章ID</td>
    <td>文章名称</td>
    <td>文章大图</td>
    <td>文章作者</td>
    <td>发布时间</td>
    <td>点赞数</td>
    <td>分享数</td>
    <td>排序因子</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="t in review_list">
    <td ng-bind="t.id"></td>
    <td ng-bind="t.title"></td>
    <td><img ng-src="{{t.banner}}" class="img-article"></td>
    <td></td>
    <td ng-bind="t.create_time"></td>
    <td ng-bind="t.praise_num"></td>
    <td ng-bind="t.share_num"></td>
    <td>
      <a editable-text="t.rank" class="editable editable-click" ng-bind="t.rank"
         onaftersave="updateRank(t.id,t.rank)" onbeforesave="tipsRank()"></a>
    </td>
    <td>
      <button class="mod-btn" ng-click="previewArticle(t.id)">预览</button>
      <button class="mod-btn" ng-click="deleteArticle(t.id)">删除</button>
      <button class="mod-btn" ng-click="editArticle(t.id)">编辑</button>
    </td>
  </tr>
  </tbody>
</table>
