<div class="mod-release-box">
  <h3>发布文章</h3>

  <form ng-submit="postReview()" name="postForm">
    <div class="mod-release-form">
      <div class="m-inputBox">
        <p class="title">文章名称:</p>
        <div class="input-wrap">
          <input type="text" required ng-model="title">
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox m-author-box">
        <p class="title">文章作者:</p>
        <div class="content-wrap">
          <div class="item-wrap">
            <div class="input-wrap author-wrap">
              <input type="text" required ng-model="author" valid-author ng-enter="getAuthor(author)">
            </div>
            <button type="button" class="mod-btn" ng-enter="getAuthor(author)" ng-click="getAuthor(author)"></button>
            <span class="require_tips">必填项</span>
          </div>
          <p class="tips">请输入作者对应用户ID后按 确定 或 回车键</p>
          <div class="user-card" ng-show="Author">
            <div class="mod-avater">
              <img src="{{ Author.avater }}">
            </div>
            <p class="u-name" ng-bind="Author.name">用户名</p>
            <p class="u-title" ng-bind="Author.title">Title</p>
            <p class="u-title" ng-bind="Author.media">媒体名</p>
          </div>
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">文章描述:</p>
        <div class="input-wrap">
          <textarea ng-model="brief" class="desc" required></textarea>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章图片:</p>
        <div class="input-wrap preview-wrap">
          <div class="img-preview">
            <img src="{{ banner }}">
          </div>
          <div class="btn btn-file" ngf-select="upload(file)" ng-model="file" name="photo" ngf-pattern="'image/*'"
               ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ng-bind="file_text"></div>
          <p>jpg,png or gif 500x333</p>
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">文章正文:</p>
        <div class="input-wrap editor">
          <div class="ueditor" ng-model="content"></div>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章原链接:</p>
        <div class="input-wrap">
          <input type="text" ng-model="origin_url">
        </div>
      </div>

      <div class="m-inputBox m-author-box">
        <p class="title">关联商品:</p>
        <div class="content-wrap">
          <div class="item-wrap">
            <div class="input-wrap author-wrap">
              <input type="text" ng-model="product_id" ng-enter="getProducts(product_id)">
            </div>
            <button type="button" class="mod-btn" ng-click="getProducts(product_id)"></button>
          </div>
          <p class="tips">请输入商品id，以半角逗号,为分隔符，按确定或回车键提交</p>
          <div class="user-card" ng-show="RelateProductsList" ng-repeat="Products in RelateProductsList">
            <div class="mod-avater">
              <img src="{{ Products.banner }}">
            </div>
            <p class="u-name" ng-bind="Products.name">商品名</p>
            <p class="u-title" ng-bind="Products.title">Title</p>
          </div>
        </div>
      </div>

    </div>

    <button type="submit" class="mod-btn btn-submit"
            ng-class="{true: '', false: 'disable'}[postForm.$valid]" ng-disabled="!postForm.$valid">提交</button>
    <p class="u-alert" ng-show="!postForm.$valid">请填写完整的信息</p>

  </form>

</div>
