<div class="mod-release-box">
  <h3>发布文章</h3>

  <form ng-submit="postReview()" name="postForm">
    <div class="mod-release-form">
      <div class="m-inputBox">
        <p class="title">文章名称:</p>
        <div class="input-wrap">
          <input type="text" required ng-model="title">
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章作者:</p>
        <div class="input-wrap">
          <input type="text" required ng-model="author">
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章描述:</p>
        <div class="input-wrap">
          <textarea ng-model="brief" class="desc" required></textarea>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章图片:</p>
        <div class="input-wrap preview-wrap">
          <div class="img-preview">
            <img src="{{ banner }}">
          </div>
          <div upload-button
               url="/Admin/File/Upload" param="photo" id="photo" name="photo"
               force-iframe-upload = 'true'
               on-upload="onUpload(files)"
               on-complete="fileCallback(response)"></div>
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">文章正文:</p>
        <div class="input-wrap editor">
          <div class="ueditor" ng-model="content"></div>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章原链接:</p>
        <div class="input-wrap">
          <input type="text" ng-model="buy_link">
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">关联商品:</p>
        <div class="input-wrap">
          <input type="text" ng-model="product_id">
        </div>
      </div>
    </div>

    <button type="submit" class="mod-btn btn-submit"
            ng-class="{true: '', false: 'disable'}[postForm.$valid]" ng-disabled="!postForm.$valid">提交</button>
    <p class="u-alert" ng-show="!postForm.$valid">请填写完整的信息</p>

  </form>

</div>
