<div class="mod-release-box" ng-init="getReviewDetail()">
  <h3>编辑文章</h3>

  <form ng-submit="updateReview()" name="updateForm">
    <div class="mod-release-form">
      <div class="m-inputBox">
        <p class="title">文章名称:</p>
        <div class="input-wrap">
          <input type="text" required ng-model="review_detail.title">
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章作者:</p>
        <div class="input-wrap">
          <input type="text" required ng-model="review_detail.author">
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">文章描述:</p>
        <div class="input-wrap">
          <textarea ng-model="review_detail.brief" class="desc"></textarea>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">文章图片:</p>
        <div class="input-wrap preview-wrap">
          <div class="img-preview">
            <img src="{{ review_detail.banner }}" ng-src="review_detail.banner">
          </div>
          <div upload-button
               url="/Admin/File/Upload" param="photo" id="photo" name="photo"
               force-iframe-upload = 'true'
               on-upload="onUpload(files)"
               on-complete="fileCallback(response)"></div>
        </div>
        </div>
      <div class="m-inputBox">
        <p class="title">文章正文:</p>
        <div class="input-wrap editor">
          <div class="ueditor" ng-model="review_detail.content" ready="editorReady"></div>
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">文章原链接:</p>
        <div class="input-wrap">
          <input type="text" ng-model="review_detail.buy_link" >
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">关联商品:</p>
        <div class="input-wrap">
          <input type="text" ng-model="review_detail.product_id" >
        </div>
      </div>
      <button type="submit" class="mod-btn btn-submit"
              ng-class="{true: '', false: 'disable'}[updateForm.$valid]" ng-disabled="!updateForm.$valid">提交</button>
      <p class="u-alert" ng-show="!updateForm.$valid">请填写完整的信息</p>
    </div>
  </form>

</div>
