<div class="mod-release-box mod-banner">
  <h3>添加Banner</h3>
  <form name="bannerCreateForm" ng-submit="createBanner()">
    <div class="mod-release-form">
      <div class="m-inputBox">
        <p class="title">上传图片：</p>
        <div class="input-wrap banner-wrap">
          <img src="{{ image }}" alt="" class="placehold">
          <div upload-button
               url="/Admin/File/Upload" param="photo" id="photo" name="photo"
               force-iframe-upload = 'true'
               on-upload="onUpload(files)"
               on-complete="fileCallback(response)"></div>
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">url：</p>
        <div class="input-wrap">
          <input type="text" name="link" ng-model="link" required>
        </div>
      </div>
    </div>

    <button class="mod-btn btn-submit" type="submit"
            ng-class="{true: '', false: 'disable'}[bannerCreateForm.$valid]" ng-disabled="!bannerCreateForm.$valid">提交</button>
    <p class="u-alert" ng-show="!bannerCreateForm.$valid">请完善必填项</p>
  </form>
</div>
