<mod-search-bar label-text="'搜索支持id、商品名称'" ng-enter="updateList()"></mod-search-bar>

<table class="table table-hover dataTable g-mt30 mod-table" ng-init="getProductList()">
  <thead>
  <tr>
    <td>商品ID/名称</td>
    <td>缩略图</td>
    <td>商品平台</td>
    <td>价格</td>
    <td>创建时间</td>
    <td>最热排序因子</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="t in product_list">
    <td><span class="name" ng-bind="t.name">4k Cameral</span>{{ t.id }}</td>
    <td><img ng-src="{{t.banner}}" class="img-thumbnail"></td>
    <td ng-bind="t.buy_channel">亚马逊</td>
    <td ng-bind="t.price">￥4521</td>
    <td ng-bind="t.create_time">2015-05-22</td>
    <td><a href="" editable-text="hc" class="editable editable-click" ng-bind="t.rank"></a></td>
    <td>
      <button class="mod-btn" ng-click="updateGoods(t.id)">编辑</button>
      <button class="mod-btn" ng-click="groundGoods(t.id)">上架</button>
    </td>
  </tr>
  </tbody>


</table>
