<link rel="stylesheet"
      href="styles/metronic/global/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css">

<mod-search-bar label-text="'搜索支持id、商品名称'" ng-enter="updateList()"></mod-search-bar>

<table class="table table-hover dataTable g-mt30 mod-table" ng-init="getProductList()">
  <thead>
  <tr>
    <td>商品ID/名称</td>
    <td>缩略图</td>
    <td>商品平台</td>
    <td>价格</td>
    <td>创建时间</td>
    <td>最热排序因子</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><span class="name">4k Cameral</span>1321321321321332</td>
    <td><img src="http://placehold.it/50x50" class="img-thumbnail"></td>
    <td>亚马逊</td>
    <td>￥4521</td>
    <td>2015-05-22</td>
    <td><a href="" editable-text="hc" class="editable editable-click">{{hc}}</a></td>
    <td>
      <button class="mod-btn">预览</button>
      <button class="mod-btn" ng-click="updateGoods(12)">编辑</button>
      <button class="mod-btn" ng-click="banGoods(15)">下架</button>
      <button class="mod-btn" ng-click="trialGoods(12)">试用管理</button>
    </td>
  </tr>
  <tr>
    <td>1022512 <br> 这是命ID发骄傲的司法局抖擞</td>
    <td><img src="http://placehold.it/50x50" class="img-thumbnail"></td>
    <td>亚马逊</td>
    <td>￥4521</td>
    <td>2015-05-22</td>
    <td><a href="" editable-text="hc" class="editable editable-click">{{hc}}</a></td>
    <td>
      <button class="mod-btn">预览</button>
      <button class="mod-btn" ng-click="updateGoods(12)">编辑</button>
      <button class="mod-btn" ng-click="banGoods(15)">下架</button>
      <button class="mod-btn" ng-click="trialGoods(12)">试用管理</button>
    </td>
  </tr>  <tr>
    <td>1022512 <br> 这是命ID发骄傲的司法局抖擞</td>
    <td><img src="http://placehold.it/50x50" class="img-thumbnail"></td>
    <td>亚马逊</td>
    <td>￥4521</td>
    <td>2015-05-22</td>
    <td><a href="" editable-text="hc" class="editable editable-click">{{hc}}</a></td>
    <td>
      <button class="mod-btn">预览</button>
      <button class="mod-btn" ng-click="updateGoods(12)">编辑</button>
      <button class="mod-btn" ng-click="banGoods(15)">下架</button>
      <button class="mod-btn" ng-click="trialGoods(12)">试用管理</button>
    </td>
  </tr>
  <tr ng-repeat="t in product_list">
    <td></td>
    <td ng-bind="t.name"></td>
    <td><img ng-src="t.banner" class="img-thumbnail"></td>
    <td>亚马逊</td>
    <td>￥4521</td>
    <td>2015-05-22</td>
    <td><a href="" editable-text="hc" class="editable editable-click">{{hc}}</a></td>
    <td>
      <button class="btn btn-primary">预览</button>
      <button class="btn btn-primary" ng-click="updateGoods(12)">编辑</button>
      <button class="btn btn-primary" ng-click="banGoods(15)">下架</button>
      <button class="btn btn-primary" ng-click="trialGoods(12)">试用管理</button>
    </td>
  </tr>
  </tbody>


</table>
