<div class="mod-release-box">
  <h3>填写基本信息</h3>

  <form ng-submit="releaseGoods()" name="releaseForm">
    <div class="mod-release-form">
      <div class="m-inputBox">
        <p class="title">商品名称:</p>
        <div class="input-wrap">
          <input type="text" required ng-model="name">
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">商品描述:</p>
        <div class="input-wrap">
          <textarea ng-model="brief" class="desc" required></textarea>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">商品图片:</p>
        <div class="input-wrap preview-wrap">
          <div class="img-preview">
            <img src="{{ banner }}">
          </div>
          <div class="btn btn-file" ngf-select="upload(file)" ng-model="file" name="photo" ngf-pattern="'image/*'"
               ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100" ng-bind="file_text"></div>
          <p>jpg,png or gif 500x333</p>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">商品详情:</p>
        <div class="input-wrap editor">
          <div class="ueditor" ng-model="htmlContent"></div>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">商品原链接:</p>
        <div class="input-wrap">
          <input type="text" ng-model="buy_link" required>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">商品店铺名:</p>
        <div class="input-wrap">
          <input type="text" ng-model="buy_store" >
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">商品优惠码:</p>
        <div class="input-wrap">
          <input type="text" ng-model="coupon">
        </div>
      </div>
      <div class="m-inputBox">
        <p class="title">商品平台:</p>
        <div class="input-wrap select-wrap">
          <select name="buy_channel" required ng-model="buy_channel" ng-options="t for t in buy_channel_list">
          </select>
        </div>
        <span class="require_tips">必填项</span>
      </div>
      <div class="m-inputBox">
        <p class="title">商品价格:</p>
        <div class="input-wrap select-wrap">
          <select name="price_unit" required ng-model="price_unit" ng-options="t for t in currency_type">
          </select>
        </div>
        <div class="input-wrap price-wrap">
          <input type="number" ng-model="price" required name="price">
        </div>
        <span class="require_tips">必填项</span>
      </div>
    </div>

    <button type="submit" class="mod-btn btn-submit"
            ng-class="{true: '', false: 'disable'}[releaseForm.$valid]" ng-disabled="!releaseForm.$valid">创建商品</button>
    <p class="u-alert" ng-show="!releaseForm.$valid">请填写完整的信息</p>

  </form>

</div>
