<h1>发布商品</h1>
<table>
  <tbody>
  <tr>
    <td>商品名称</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>商品描述</td>
    <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
  </tr>
  <tr>
    <td>商品图片</td>
    <td><input type="file"><p>图片要求:巴拉巴拉</p></td>
  </tr>
  <tr>
    <td>商品详情</td>
    <td><textarea name="" id="" cols="30" rows="10"></textarea></td>
  </tr>
  <tr>
    <td>商品平台</td>
    <td>
      <select name="" id="">
        <option value="1">亚马逊</option>
        <option value="2">ebay</option>
      </select>
    </td>
  </tr>
  <tr>
    <td>商品原链接</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>商品店铺名</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>商品优惠码</td>
    <td><input type="text"></td>
  </tr>
  <tr>
    <td>商品价格</td>
    <td>
      <input type="text">
      <select name="" id="">
        <option value="1">美元</option>
        <option value="2">日元</option>
      </select>
    </td>
  </tr>
  </tbody>
</table>
