<div class="mod-trial-header">
  <h3>试用管理</h3>
  <div class="mod-trial-switch">
    <form action="">
      <span class="desc">试用功能开关</span>
      <input type="radio" value="开" name="trial" checked >开
      <input type="radio" value="关" name="trial">关
    </form>
  </div>
  <h4>试用开放列表<button class="mod-btn" ng-click="createTrial()">新增试用</button></h4>

</div>


<table  class="table table-hover g-mt20">
  <thead>
  <tr>
    <td>试用编号</td>
    <td>试用开放时间</td>
    <td>试用结束时间</td>
    <td>申请人数</td>
    <td>状态</td>
    <td>试用数量</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>1651651665</td>
    <td>2015-01-22</td>
    <td>2016-02-22</td>
    <td>151</td>
    <td>未到/申请中/已过期</td>
    <td>151</td>
    <td>
      <button class="mod-btn" ng-click="showAllTrialList()">查看申请人</button>
    </td>
  </tr>
  <tr>
    <td>1651651665</td>
    <td>2015-01-22</td>
    <td>2016-02-22</td>
    <td>151</td>
    <td>未到/申请中/已过期</td>
    <td>151</td>
    <td>
      <button class="mod-btn" ng-click="showAllTrialList()">查看申请人</button>
    </td>
  </tr>
  <tr>
    <td>1651651665</td>
    <td>2015-01-22</td>
    <td>2016-02-22</td>
    <td>151</td>
    <td>未到/申请中/已过期</td>
    <td>151</td>
    <td>
      <button class="mod-btn" ng-click="showAllTrialList()">查看申请人</button>
    </td>
  </tr>
  </tbody>
</table>
