<h1>更新商品</h1>
<form ng-submit="updateGoods()" name="updateForm">
<table ng-init="getProductDetail()">
  <tbody>
  <tr>
    <td>商品名称</td>
    <td><input type="text" ng-model="product_detail.name"></td>
  </tr>
  <tr>
    <td>商品描述</td>
    <td><textarea ng-model="product_detail.brief"></textarea></td>
  </tr>
  <tr>
    <td>商品图片</td>
    <td><input type="file"><p>图片要求:巴拉巴拉</p></td>
  </tr>
  <tr>
    <td>商品详情</td>
    <td><div class="ueditor" ng-model="product_detail.content"></div></td>
  </tr>
  <tr>
    <td>商品平台</td>
    <td>
      <select name="buy_channel" required ng-model="product_detail.buy_channel" ng-options="t for t in buy_channel_list">
      </select>
    </td>
  </tr>
  <tr>
    <td>商品原链接</td>
    <td><input type="text" ng-model="product_detail.buy_link"></td>
  </tr>
  <tr>
    <td>商品店铺名</td>
    <td><input type="text" ng-model="product_detail.buy_store"></td>
  </tr>
  <tr>
    <td>商品优惠码</td>
    <td><input type="text" ng-model="product_detail.coupon"></td>
  </tr>
  <tr>
    <td>商品价格</td>
    <td>
      <input type="text" ng-model="product_detail.price">
      <select name="" id="">
        <option value="1">美元</option>
        <option value="2">日元</option>
      </select>
    </td>
  </tr>
  </tbody>
</table>
  <button type="submit">更新商品</button>
</form>
