<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse">
    <div class="page-sidebar-menu page-header-fixed">
      <ul class="page-sidebar-menu ">
        <li class="nav-item" ui-sref-active="active"><a ui-sref="account.normal">NormalAccount</a></li>
        <li class="nav-item" ui-sref-active="active"><a ui-sref="account.media">MediaAccount</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="page-content-wrapper">
  <div class="page-content">
    <div ui-view></div>
  </div>
</div>
