<mod-search-bar label-text="'搜索支持id,用户名'" ng-enter="searchList(keyWord)" key-word="keyWord"
                search-type="searchType" selected="search_select" is-type="true" search-fun="searchList(keyWord)"></mod-search-bar>


<table class="table g-mt30 mod-account-table" ng-init="getAccountList()">
  <thead>
  <tr>
    <td>uid</td>
    <td>用户名</td>
    <td>头像</td>
    <td>邮箱</td>
    <td>用户类型</td>
    <td>状态</td>
    <td>试用额度</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="t in accountList">
    <td ng-bind="t.id"></td>
    <td ng-bind="t.name"></td>
    <td><img ng-src="{{t.avatar}}"  class="img-thumb"></td>
    <td ng-bind="t.email"></td>
    <td>媒体用户</td>
    <td ng-bind="t.status_text"></td>
    <td>
      <a editable-text="t.trial_hc" class="editable editable-click" ng-bind="t.trial_hc"
         onaftersave="updateRank(t.id,t.trial_hc)" onbeforesave="tipsRank()"></a>
    </td>
    <td>
      <button class="mod-btn" ng-repeat="tt in t.operate"
              ng-click="funcHandler(t.id, tt.func, t)" ng-bind="tt.text"></button>
    </td>
  </tr>
  </tbody>
</table>
