<h1>媒体用户</h1>

<div class="search-bar">
  <form action="">
    <label for="">搜索关键字</label>
    <input type="text">
    <button>search</button>
  </form>
</div>

<table>
  <thead>
  <tr>
    <td>uid</td>
    <td>用户名</td>
    <td>头像</td>
    <td>邮箱</td>
    <td>用户类型</td>
    <td>状态</td>
    <td>试用额度</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>123165165</td>
    <td>这是用户名</td>
    <td>4565165156@qq.com</td>
    <td>普通用户</td>
    <td>待验证/验证失败/验证成功</td>
    <td>48484</td>
    <td>
      <button>查看详情</button>
      <button>封号</button>
    </td>
  </tr>
  </tbody>
</table>
