<div class="mod-search-bar">
  <form action="">
    <div class="u-wrapper">
      <span class="u-icon">
      <i></i>
      </span>
      <input type="text" id="search" class="u-search" placeholder="Search...">
    </div>
    <label for="search" class="u-label">搜索支持试用id、订单号、用户名、商品名、申请时间</label>
  </form>
</div>

<table class="table g-mt30">
  <thead>
  <tr>
    <td>uid</td>
    <td>用户名</td>
    <td>头像</td>
    <td>邮箱</td>
    <td>用户类型</td>
    <td>状态</td>
    <td>试用额度</td>
    <td>操作</td>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>123165165</td>
    <td>这是用户名</td>
    <td><img src="http://placehold.it/50x50" alt="" class="img-thumb"></td>
    <td>4565165156@qq.com</td>
    <td>普通用户</td>
    <td>待验证/验证失败/验证成功</td>
    <td>48484</td>
    <td>
      <button class="mod-btn" ng-click="showDetail()">查看详情</button>
      <button class="mod-btn" ng-click="banAccount()">封号</button>
    </td>
  </tr>
  </tbody>
</table>
