<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title">填写发货信息</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <h4>物流公司</h4>
          <p>
            <input type="text" class="col-md-12 form-control"> </p>
          <h4>物流运单号</h4>
          <p>
            <input type="text" class="col-md-12 form-control"> </p>
          <h4>邮件内容</h4>
          <p>
            <textarea name="" id="" cols="30" rows="10" class="col-md-12 form-control"></textarea>
          </p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn dark btn-outline" ng-click="cancel()">Close</button>
      <button type="button" class="btn red" ng-click="ok()">发送</button>
    </div>
  </div>
</div>
